input[type=text]{
    width: 100%;
    margin: 10px 5px;
    padding-left: 6px;
    border: black 1px solid;
    transition: 0.3s;
    outline: none;
}
input[type=text]:focus{
    border-bottom: blue 2px solid;
}

input[type=email]{
    width: 100%;
    margin: 10px 5px;
    padding-left: 6px;
    border: black 1px solid;
    transition: 0.3s;
    outline: none;
}
input[type=email]:focus{
    border-bottom: green 2px solid;
}
input[type=password]{
    width: 100%;
    margin: 10px 5px;
    padding-left: 6px;
    border: black 1px solid;
    transition: 0.3s;
    outline: none;
}
input[type=password]:focus{
    border-bottom: red 2px solid;
}
.boton{
    border-radius: 20px;
    background-color: aquamarine;
    color: gray;
    width: 120px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border: none;
}

.boton:hover{
    background-color: #5bffc1;
    color: black;
    cursor:pointer;
}
.boton:focus{
    background-color: chartreuse;
}
.formulario{
    border-radius: 70px;
    height: auto;
    width: 200px;
}
