*{
    --color-header--: #12C6C1;
    --color-footer--: #128AC6;
    --color-main--: #ffffff;
    --color-aside--:#28EFE9;
    --color-nav--: #28C8EF;
    ---main-content---: #28EFB8;
    text-decoration: none;
}
body{
    min-height: 100vh;
}
header{
    display: flex;
    flex-direction: column;
}
.titulo{
    color: white;
    background-color: var(--color-header--);
    text-align: center;
    font-size: 60px;
}
ul{
    display: flex;
    flex-direction: row;
    background-color: var(--color-nav--);
    justify-content: space-around;
}

@media all and(min-width: 600px) {
    ul{
        display: flex;
        flex-direction: column;
    }
}
/*@media all and(min-width: 800px) {
    ul{
        display: flex;
        flex-direction: column;
    }
}*/

.historia{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imagen{
    width: 360px;
    height: auto;
}
.texto{
    display: flex;
    flex-direction: column;
}


li{
    padding-left: 10px;
    color: white;
}

li:hover{
    background-color: white;
    color: cornflowerblue;
}
aside{
    background-color: var(--color-aside--);
}

footer{
    background-color: var(--color-footer--);

}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
aside > a {
    color: #ff000a;
}
.texto > a{
    color: yellow;
}
