p{
    font-size: 16px;
}

.titulo{
    font-size: 40px;
    color: blue;
}

.contenido{
    font-size: 20px;
    color: aquamarine;
}

#logo{
    font-size: 20px;
    color: chartreuse;
}
body{
    background-color: aquamarine;
}