<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Libros</title>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <section id="content">
        <div v-show="pagina=='login'">
            Venta de libros
            <p>{{usuario}}</p>

            <input type="text" v-model="usuario" placeholder="Ingrese usuario">
            <input type="password" v-model="clave" placeholder="Ingrese contraseña">

            <button v-on:click="ingresar()">Ingresar</button>
        </div>

        <div v-show="pagina=='home'">
            <div>
                Pagina principal
                <h1>{{nombre}}</h1>
                <template>
                    <table>
                        <tr>
                            <td>isbn</td>
                            <td>titulo</td>
                            <td>editorial</td>
                        </tr>
                        <tr v-for="libro in libros">
                            <td>{{libro.isbn}}</td>
                            <td>{{libro.titulo}}</td>
                            <td>{{libro.editorial}}</td>
                        </tr>

                    </table>
                </template>
            </div>
        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="js/app.js"></script>
</body>
</html>