<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="iconos-comunicacion_23-2147501112.jpg">
</head>
<body>
    <div id="app">
        <h1>{{nombre}} es alumno de la fiis</h1>
        <pre>{{$data}}</pre>
        <div v-if="edad < 18">
            <h1>{{nombre}}</h1>
            <h2>{{apellido}}</h2>
        </div>
        <input type="text" v-model="nombre">
        <div v-else>
            <h1>no hay personas</h1>
        </div>
        <div>
            <p v-for="curso in cursos">
                {{curso.nombre}} - {{curso.seccion}}
            </p>
        </div>
        <!--<div v-show="edad > 18">
            <h1>{{nombre}}</h1>
            <h2>{{apellido}}</h2>
        </div>-->
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data:{
            nombre: 'juan',
            apellido:'Marcos',
            edad: 21,
            cursos:[
                {
                    nombre:'lpoo',
                    seccion:'u'
                },
                {
                    nombre:'fisica',
                    seccion:'v'
                },
                {
                    nombre:'psicologia',
                    seccion:'w'
                },
                {
                    nombre: 'TGS',
                    seccion: 'v'
                }
            ]
        }
    })
</script>
</html>